---
import Layout from '../layouts/Layout.astro';

import Test from '../components/Test.tsx';
---

<Layout title="incremental game test">
	<main>
		<h1>incremental game test</h1>
		<p>
      this is a test of using astro and solid to create an incremental game
		</p>

    <Test />

	</main>
</Layout>

<style>
</style>
