---
import Layout from '../layouts/Layout.astro';

import TestSvelte from '../components/TestSvelte.svelte';
---

<Layout title="incremental game test">
	<main>
		<h1>incremental game test</h1>
		<p>
      this is a test of using astro and svelte to create an incremental game
		</p>

    <TestSvelte client:load/>
	</main>
</Layout>

<style>
</style>
