---
import Layout from '../layouts/Layout.astro';

import TestSvelte from '../components/TestSvelte.svelte';
---

<Layout title="incremental game test">
	<main>
		<div class="header">
			<h1> human irrelevance simulator </h1>
			<p>
				or, the inevitability of humanity leaving itself behind
			</p>
		</div>

    <TestSvelte client:load/>
	</main>
</Layout>

<style>
	
	main {
		padding: 32px;
	}
	
	.header {
		margin-bottom: 64px;
	}
</style>
